[submodule "spring/mbhave-spring-boot-loves-k8s"]
	path = spring/mbhave-spring-boot-loves-k8s
	url = git@github.com:mbhave/spring-boot-loves-k8s.git
[submodule "spring/game-of-streams-aircraft-edition"]
	path = spring/game-of-streams-aircraft-edition
	url = git@github.com:mkheck/game-of-streams-aircraft-edition.git
[submodule "edx/kubernetes-serverless/echo-fn"]
	path = edx/kubernetes-serverless/echo-fn
	url = git@github.com:alexellis/echo-fn
[submodule "oreilly/data-science-for-engineers"]
	path = oreilly/data-science-for-engineers
	url = https://resources.oreilly.com/binderhub/data-science-for-engineers.git
[submodule "oreilly/hands-on-algorithmic-trading-with-python"]
	path = oreilly/hands-on-algorithmic-trading-with-python
	url = https://resources.oreilly.com/learning-paths/hands-on-algorithmic-trading-with-python.git
[submodule "oreilly/strata-data-superstream-prototype-to-pipeline"]
	path = oreilly/strata-data-superstream-prototype-to-pipeline
	url = https://resources.oreilly.com/binderhub/strata-data-superstream-prototype-to-pipeline.git
[submodule "oreilly/structural-patterns-spring"]
	path = oreilly/structural-patterns-spring
	url = git@github.com:victorrentea/structural-patterns-spring.git
[submodule "certifications/CKA/cka-example-environments"]
	path = certifications/CKA/cka-example-environments
	url = git@github.com:wuestkamp/cka-example-environments.git
[submodule "certifications/CKA/certified-kubernetes-administrator-course"]
	path = certifications/CKA/certified-kubernetes-administrator-course
	url = git@github.com:kodekloudhub/certified-kubernetes-administrator-course.git
